/* resets de estiloso padrão */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font: inherit;
  font-size: 100%;
}

a {
  text-decoration: none;
}

/* margem padrão para textos */
p,
h1,
h2,
h3,
h4 {
  padding: 5px 0px;
}

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Righteous&display=swap");

/* variáveis de cores */
:root {
  --backgroundColor: #252525;
  --fontColor: #e6e6e6;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  line-height: 100%;
}

/* barra de rolamento */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
