* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background-color: #252525;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
